body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font-family: "Bebas Neue";
}

.App {
  text-align: center;
}
.container {
  height:"900";
}
h1, h3, .card-body>.card-title {
  font-family: "Lobster", cursive;
}